version: "3.9"

services:
  app:
    build: .
    ports:
      - "3002:3002"
    env_file:
      - .env
    depends_on:
      - mongo
    tty: true
    stdin_open: true

  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
